<div class="home">
    <!-- Header -->
    <div class="home__header">
        <div class="wrapper">
            <div class="home__header-content">
                <h1 class="heading">Reliable Platform to Find Services – Anytime, Anywhere!</h1>
                <p class="desc" *ngIf="!isMobile">Connect with trusted service providers for your everyday needs. From
                    plumbing and
                    cleaning to babysitting and private tutoring, find and hire professionals with ease.</p>
                <p class="desc" *ngIf="isMobile">Find and hire trusted professionals for any service you need.</p>
            </div>
            <div class="home__header-content-2">
                <div class="left-container">
                    <h1 class="title">FOR SERVICE SEEKERS</h1>
                    <button class="button">Find your services</button>
                </div>
                <div class="seperator"></div>
                <div class="right-container">
                    <h1 class="title">FOR BUSINESSES</h1>
                    <button class="button">Advertise your services</button>
                </div>
            </div>
        </div>
    </div>

    <div class="home__content-1">
        <div class="home__content-1-floating-search-bar-container">
            <app-floating-search-bar></app-floating-search-bar>
        </div>
    </div>
</div>